body {
  font-family: "Barlow Semi Condensed", sans-serif;
  margin: 0;
  color: white;
  height: 100%;
  background-image: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

#game-container {
  margin: 0;
  width: 100%;
}

#scoreboard {
  width: 60%;
  display: flex;
  margin: auto;
  justify-content: space-between;
  border: solid hsl(217, 16%, 45%) 0.1em;
  margin-top: 2em;
  padding: 1em;
  border-radius: 1em;
}

.scoresheet {
  background-color: white;
  width: 10em;
  height: 8em;
  color: hsl(229, 64%, 46%);
  text-align: center;
  border-radius: 1em;
}

.logo {
  padding-top: 1.2em;
}

.scoresheet p {
  margin: 0;
  padding-top: 1.2em;
  font-weight: 700;
}

.scoresheet h1 {
  color: hsl(229, 25%, 31%);
  font-size: 3.5em;
  margin: 0;
  font-weight: bolder;
}

#game-start-section {
  width: 60em;
  margin: auto;
  margin-top: 10em;
  position: relative;
  animation-name: opacityChange;
  animation-duration: 0.5s;
}

@keyframes opacityChange {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.triangle {
  display: block;
  margin: auto;
}

.outer-circle {
  width: 10em;
  position: absolute;
  height: 10em;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.inner-circle:hover,
.inner-circle:active {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.5s ease-in-out;
  transform: scale(1.1, 1.1);
}

.inner-circle {
  background-color: white;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  display: grid;
  place-items: center;
  box-shadow: inset 0px 11px 22px 1px rgb(110, 109, 109);
}

.scissor-circle {
  background-image: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  top: -20%;
  left: 54%;
}

.paper-circle {
  background-image: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  top: -20%;
  left: 28%;
}
.rock-circle {
  background-image: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  top: 50%;
  left: 42%;
}

.game-started-con {
  width: 90%;
  margin: auto;
}

#game-started-section {
  width: 43em;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 4em;
  animation-name: opacity;
  animation-duration: 0.5s;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#game-started-section p {
  padding-bottom: 3em;
  margin: 0;
  font-weight: bold;
}

.result-con {
  margin: 3em 0;
  text-align: center;
}

.result {
  font-size: 2em;
  margin: none;
  padding: none;
}

.player-circle,
.house-circle {
  width: 13em;
  height: 13em;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin: 0 2em;
}

.play-again-btn {
  width: 12em;
  height: 3em;
  background-color: white;
  border: none;
  border-radius: 0.5em;
  color: hsl(229, 25%, 31%);
  font-size: 0.8em;
  text-align: center;
}

.rule-section {
  background-color: white;
  width: 26em;
  height: 26em;
  color: black;
  border-radius: 1em;
  position: absolute;
  top: 15em;
  left: 50%;
  margin-left: -13em;
}

@keyframes ruleOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.rule-section-header {
  display: flex;
  justify-content: space-between;
}

.rule-section-header h1 {
  margin: 0;
  padding: 1em;
}

.close {
  height: 1em;
  margin: 0;
  padding: 2em;
  color: black;
}

.rule-img {
  display: block;
  margin: auto;
  animation-name: ruleOpacity;
  animation-duration: 2s;
}
.rules-btn-con {
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
}

.rules-btn {
  width: 8em;
  height: 2.5em;
  background-color: transparent;
  border: solid 0.1em white;
  color: white;
  border-radius: 0.5em;
  transition: all .5s ease;
}

.rules-btn:hover, .rules-btn:active {
  background-color: white;
  color: black;
}
.rules-btn-con {
  margin-top: 8em;
}

.signature {
  font-size: 1.1em;
  letter-spacing: 0.1em;
}

a {
  color: gold;
  text-decoration: none;
}

button {
  outline: none;

}

button:active {
  background-color: black;
}

@media (max-width: 1024px) {
  #scoreboard {
    width: 80%;
  }

  .scoresheet {
    height: 6em;
    width: 6em;
    padding: 0.6em;
  }

  .scoresheet h1 {
    font-size: 2.5em;
  }

  .logo {
    width: 50%;
    padding: 0.5em;
  }

  #game-start-section {
    width: 20em;
    margin-top: 7em;
  }

  .triangle {
    width: 14em;
  }

  .outer-circle {
    width: 6em;
    height: 6em;
  }

  .inner-circle img {
    width: 2em;
  }
  .scissor-circle {
    top: -15%;
    left: 60%;
  }

  .paper-circle {
    top: -15%;
    left: 13%;
  }
  .rock-circle {
    top: 53%;
    left: 35%;
  }
  .rule-section {
    top: 13em;
  }
}

@media (max-width: 700px) {
  body {
    height: 50em;
  }
  #game-started-section {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 4em;
    justify-content: space-between;
  }

  #game-started-section p {
    padding-bottom: 2em;
  }
  .player-circle,
  .house-circle {
    width: 6em;
    height: 6em;
    margin: 0 2em;
  }

  .result-con {
    position: absolute;
    top: 23em;
    left: 30%;
  }
  .rule-section {
    background-color: white;
    width: 18em;
    height: 18em;
    color: black;
    border-radius: 1em;
    margin-left: -9em;
  }

  .rule-section-header {
    display: flex;
    justify-content: space-between;
  }

  .rule-section-header h1 {
    margin: 0;
    padding: 1em;
  }

  .close {
    height: 1em;
    margin: 0;
    padding: 2em;
  }

  .rule-img {
    display: block;
    margin: auto;
    width: 10em;
    margin-top: 1em;
  }

  .rules-btn-con {
    margin-top: 13em;
    flex-direction: column-reverse;
    justify-content: space-around;
  }

  .rules-btn {
    margin: auto;
  }

  .signature {
    margin-top: 2em;
    text-align: center;
  }
}
